<ng-container [nbSpinner]="showSpinner" nbSpinnerStatus="success">
    <h1 id="title" class="title">註冊</h1>
    <form [formGroup]="registerForm" aria-labelledby="title">
        <div class="form-control-group">
            <label class="label" for="input-name">Line ID:</label>
            <input nbInput formControlName="name" id="input-name" name="fullName" placeholder="Line ID" autofocus fullWidth
                fieldSize="large"
                [status]="getControl('name').dirty ? (getControl('name').invalid  ? 'danger' : 'success') : 'basic'"
                [attr.aria-invalid]="getControl('name').invalid && getControl('name').touched ? true : null">
            <ng-container *ngIf="getControl('name').invalid && getControl('name').touched">
                <p class="caption status-danger" *ngIf="getControl('name').errors?.required">
                    Line ID必填!
                </p>
                <p class="caption status-danger"
                    *ngIf="getControl('name').errors?.minlength || getControl('name').errors?.maxlength">
                    Line ID必須介於{{nameLimit.min}}字至{{nameLimit.max}}字之間
                </p>
            </ng-container>
        </div>
        <div class="form-control-group">
            <label class="label">參加活動:</label>
            <nb-select placeholder="選擇活動" formControlName="eventId" autofocus fullWidth size="large">     
                <nb-option [value]="option.id" *ngFor="let option of activateEvent$ |async">{{option.name}}</nb-option>
              </nb-select>
            <ng-container *ngIf="getControl('eventId').invalid && getControl('eventId').touched">
                <p class="caption status-danger" *ngIf="getControl('eventId').errors?.required">
                    參加活動必選!
                </p>
            </ng-container>
        </div>

        <div class="form-control-group">
            <label class="label" for="input-email">電子信箱:</label>
            <input nbInput formControlName="email" id="input-email" name="email" placeholder="電子信箱" fullWidth
                fieldSize="large"
                [status]="getControl('email').dirty ? (getControl('email').invalid  ? 'danger' : 'success') : 'basic'"
                [attr.aria-invalid]="getControl('email').invalid && getControl('email').touched ? true : null">
            <ng-container *ngIf="getControl('email').invalid && getControl('email').touched">
                <p class="caption status-danger" *ngIf="getControl('email').errors?.required">
                    電子信箱必填!
                </p>
                <p class="caption status-danger" *ngIf="getControl('email').errors?.email">
                    請填寫真實的電子信箱
                </p>
            </ng-container>
        </div>

        <div class="form-control-group">
            <label class="label" for="input-password">密碼:</label>
            <input nbInput formControlName="password" type="password" id="input-password" name="password"
                placeholder="密碼" fullWidth fieldSize="large"
                [status]="getControl('password').dirty ? (getControl('password').invalid  ? 'danger' : 'success') : 'basic'"
                [attr.aria-invalid]="getControl('password').invalid && getControl('password').touched ? true : null">
            <ng-container *ngIf="getControl('password').invalid && getControl('password').touched">
                <p class="caption status-danger" *ngIf="getControl('password').errors?.required">
                    密碼必填!
                </p>
                <p class="caption status-danger"
                    *ngIf="getControl('password').errors?.minlength || getControl('password').errors?.maxlength">
                    密碼必須介於{{passwordLimit.min}}字至{{passwordLimit.max}}字之間
                </p>
            </ng-container>
        </div>

        <button nbButton fullWidth status="primary" size="large" (click)="register()"
            [disabled]="submitted || !registerForm.valid" [class.btn-pulse]="submitted">
            註冊
        </button>
    </form>

    <section class="another-action" aria-label="Sign in">
        有帳號了嗎? <a class="text-link" routerLink="../login">登入</a>
    </section>
</ng-container>