.checkin-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    nb-card{
        display: flex;
        width: 33%;
    }
}

.subtitle{
    color: #8f9bb3;
    font-weight: 600;
    line-height: 2rem;
    margin-top: 7px;
   
}

.underline{
    padding-bottom: 3px;
    border-bottom: 3px solid #893128;
}

.emoji{
    font-size: 3rem;
}