<div class="container-fluid">
  <div class="row">
    <div class="col col-12">
      <button
        nbButton
        hero
        shape="round"
        status="primary"
        routerLink="/checkin/list"
      >
        <nb-icon icon="arrow-back-outline"></nb-icon>
      </button>
    </div>
  </div>
  <div class="row justify-content-start">
    <div class="col">
      <challenge90days-checkin-card
        [checkin]="checkin$ | async"
      ></challenge90days-checkin-card>
    </div>
  </div>
</div>
