:host {
  display: flex;
  flex-direction: column;
  // background-color: #36f;
  background-repeat: no-repeat;
  background-image: url('/assets/bg.svg');
  overflow: hidden;
  background-size: cover;
}


h1 {
  font-size: 4rem !important;
  background: -webkit-linear-gradient(
    0deg,
    #ffa745 0%,
    #fe869f 30%,
    #ef7ac8 45%,
    #a083ed 70%,
    #43aeff 85%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.5em !important;
}