<div class="container-fluid">
  <div class="row button-height align-items-center justify-content-center" data-aos="fade-up" data-aos-duration="4000">
    <div class="col col-12 col-md-6">
      <button
        nbButton
        outline
        shape="round"
        status="info"
        routerLink="introduction"
      >
        介紹
      </button>
    </div>
    <div class="col col-12 col-md-6">
      <button nbButton outline shape="round" status="info" routerLink="share">
        心得分享
      </button>
    </div>
  </div>
  <div
    class="row align-items-center full-height intro1"
    data-aos="fade-up"
    data-aos-duration="4000"
  >
    <div class="col col-md-6 col-12">
      <ng-lottie [options]="iconOpts" width="100%" height="100%"></ng-lottie>
    </div>
    <div class="col col-md-6 col-12">
      <h1 class="h1">90天原子習慣挑戰</h1>
      <div class="fs-2x">只要90天，發現你自己</div>
    </div>
  </div>
  <div
    class="row align-items-center full-height intro2"
    data-aos="fade-up"
    data-aos-duration="4000"
  >
    <div class="col col-md-6 col-12">
      <h1 class="h1">你不需要很厲害才開始，要開始才很厲害</h1>
      <div class="fs-2x">每天多1%的努力，90天之後放大為2.45倍</div>
    </div>
    <div class="col col-md-6 col-12">
      <ng-lottie [options]="iconOpts2" width="100%" height="100%"></ng-lottie>
    </div>
  </div>
  <div
    class="row align-items-center full-height intro3"
    data-aos="fade-up"
    data-aos-duration="4000"
  >
    <div class="col col-md-6 col-12">
      <ng-lottie [options]="iconOpts3" width="100%" height="100%"></ng-lottie>
    </div>
    <div class="col col-md-6 col-12">
      <h1 class="h1">期待一趟旅程 精采萬分 你不該再等</h1>
      <div class="fs-2x">別到荒廢青春 用盡體溫 才開始悔恨</div>
    </div>
  </div>
</div>
