<div class="container-fluid">
  <div class="row align-items-center intro1" data-aos="fade-up" data-aos-duration="4000">
    <div class="col col-md-8 col-12">
      <ng-lottie [options]="iconOpts" width="100%" height="100%"></ng-lottie>
    </div>
    <div class="col col-md-6 col-12">
      <h1 class="h1">90天原子習慣挑戰</h1>
      <div class="fs-2x">只要90天，發現你自己</div>
    </div>
  </div>
  <div class="row align-items-center intro2" data-aos="fade-up" data-aos-duration="4000">
    <div class="col col-md-6 col-12">
      <h1 class="h1">你不需要很厲害才開始，要開始才很厲害</h1>
      <div class="fs-2x">每天多1%的努力，90天之後放大為2.45倍</div>
    </div>
    <div class="col col-md-6 col-12">
      <ng-lottie [options]="iconOpts2" width="100%" height="100%"></ng-lottie>
    </div>
  </div>
  <div class="row align-items-center intro3" data-aos="fade-up" data-aos-duration="4000">
    <div class="col col-md-6 col-12">
      <ng-lottie [options]="iconOpts3" width="100%" height="100%"></ng-lottie>
    </div>
    <div class="col col-md-6 col-12">
      <h1 class="h1">期待一趟旅程 精采萬分 你不該再等</h1>
      <div class="fs-2x">別到荒廢青春 用盡體溫 才開始悔恨</div>
    </div>
  </div>
</div>
