<div class="main">
  <div data-aos="fade-up" data-aos-duration="4000" class="first">
    <div class="left-container container">
      <ng-lottie
        class="vod-status-download"
        [options]="iconOpts"
        width="100%"
        height="100%"
      ></ng-lottie>
    </div>
    <div class="left-container container">
      <h1 class="h1">90天原子習慣挑戰</h1>
      <div>只要90天，發現你自己</div>
    </div>
  </div>
</div>

<div class="main">
  <div data-aos="fade-up" data-aos-duration="4000">
    <h1>什麼都戰</h1>
  </div>
</div>
<div class="main">
  <div data-aos="fade-up" data-aos-duration="4000">
    <h1>什麼都能戰</h1>
  </div>
</div>
