<div class="container">
  <div class="row">
    <div class="col col-12">
      <ng-container *ngFor="let announce of announceList$ | async">
        <nb-card [status]="announce.status">
          <nb-card-header>{{ announce.title }}</nb-card-header>
          <nb-card-body>
            <pre [innerHTML]="announce.content"></pre>
          </nb-card-body>
          <nb-card-footer>{{
            announce.date.toDate() | date: 'yyyy-MM-dd'
          }}</nb-card-footer>
        </nb-card>
      </ng-container>
    </div>
  </div>
</div>