<nb-layout>
  <nb-layout-header fixed>
    <!-- <div class="container">
      <div class="row">
        <div class="col col-md-6 col-sm-12">111</div>
        <div class="col col-md-6 col-sm-12">222</div>
      </div>
    </div> -->
    <!-- <div class="container">
      <div class="row justify-content-between">
        <div class="col col-md-6 col-sm-12">
          <img [src]="logoPath" routerLink="" alt="90天原子習慣挑戰" />
          <h1 class="main-title">90天原子習慣挑戰</h1>
          <button
            nbButton
            outline
            shape="round"
            status="info"
            routerLink="introduction"
          >
            介紹
          </button>
          <button
            nbButton
            outline
            shape="round"
            status="info"
            routerLink="share"
          >
            心得分享
          </button>
        </div>
        <div class="col col-md-6 col-sm-12">
          <nb-toggle
            status="basic"
            [(ngModel)]="themeToggle"
            (ngModelChange)="changeThemeMode(themeToggle)"
          >
            <nb-icon [icon]="themeToggle ? 'moon' : 'sun-outline'"></nb-icon>
          </nb-toggle>
          <button
            nbButton
            ghost
            status="primary"
            (click)="logout()"
            *ngIf="!!user"
          >
            登出
          </button>
          <button nbButton status="primary" routerLink="checkin" *ngIf="!!user">
            打卡<nb-icon icon="checkmark-circle-2-outline"></nb-icon>
          </button>

          <button
            nbButton
            outline
            status="info"
            routerLink="auth/register"
            *ngIf="!user"
          >
            註冊
          </button>
          <div>
            <button
              nbButton
              status="primary"
              routerLink="auth/login"
              *ngIf="!user"
            >
              登入
            </button>
            <nb-user
              [nbContextMenu]="settingList"
              nbContextMenuTag="my-context-menu"
              [name]="user?.email"
              [picture]="user?.picture"
              *ngIf="!!user"
            ></nb-user>
          </div>
        </div>
      </div>
    </div> -->
    <div class="header-container">
      <div class="header-area left">
        <img [src]="logoPath" routerLink="" alt="90天原子習慣挑戰" />
        <h1>90天原子習慣挑戰</h1>
        <button
          nbButton
          outline
          shape="round"
          status="info"
          routerLink="introduction"
        >
          介紹
        </button>
        <button nbButton outline shape="round" status="info" routerLink="share">
          心得分享
        </button>
      </div>
      <div class="header-area right">
        <nb-toggle
          status="basic"
          [(ngModel)]="themeToggle"
          (ngModelChange)="changeThemeMode(themeToggle)"
        >
          <nb-icon [icon]="themeToggle ? 'moon' : 'sun-outline'"></nb-icon>
        </nb-toggle>
        <button
          nbButton
          ghost
          status="primary"
          (click)="logout()"
          *ngIf="!!user"
        >
          登出
        </button>
        <button nbButton status="primary" routerLink="checkin" *ngIf="!!user">
          打卡<nb-icon icon="checkmark-circle-2-outline"></nb-icon>
        </button>

        <button
          nbButton
          outline
          status="info"
          routerLink="auth/register"
          *ngIf="!user"
        >
          註冊
        </button>
        <div>
          <button
            nbButton
            status="primary"
            routerLink="auth/login"
            *ngIf="!user"
          >
            登入
          </button>
          <nb-user
            [nbContextMenu]="settingList"
            nbContextMenuTag="my-context-menu"
            [name]="user?.email"
            [picture]="user?.picture"
            *ngIf="!!user"
          ></nb-user>
        </div>
      </div>
    </div>
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <challenge90days-footer></challenge90days-footer>
  </nb-layout-footer>
</nb-layout>
