<nb-layout>
  <nb-layout-header fixed>
    <div class="header-container">
      <div class="header-area left">
        <img [src]="logoPath" routerLink="" alt="90天原子習慣挑戰" />
        <h1>90天原子習慣挑戰</h1>
        <button
          nbButton
          size="tiny"
          status="basic"
          (click)="changeMobileToggle()"
          *ngIf="isMobileMode"
        >
          <nb-icon
            [icon]="
              showSecondNavbar
                ? 'arrow-ios-upward-outline'
                : 'arrow-ios-downward-outline'
            "
          ></nb-icon>
        </button>
      </div>
      <div class="header-area right" [class.d-none]="!showSecondNavbar">
        <nb-toggle
          status="basic"
          [(ngModel)]="themeToggle"
          (ngModelChange)="changeThemeMode(themeToggle)"
        >
          <nb-icon [icon]="themeToggle ? 'moon' : 'sun-outline'"></nb-icon>
        </nb-toggle>
        <!-- <button
          nbButton
          ghost
          status="primary"
          (click)="logout()"
          *ngIf="!!user"
        >
          登出
        </button> -->
        <!-- *ngIf="hasUserData()" -->
        <button
          nbButton
          hero
          shape="round"
          status="primary"
          routerLink="checkin"
        >
          打卡<nb-icon icon="checkmark-circle-2-outline"></nb-icon>
        </button>

        <button
          nbButton
          outline
          status="info"
          routerLink="auth/register"
          *ngIf="!user"
        >
          註冊
        </button>
        <div>
          <button
            nbButton
            status="primary"
            routerLink="auth/login"
            *ngIf="!user"
          >
            登入
          </button>
          <button
            nbButton
            hero
            shape="round"
            status="info"
            [nbContextMenu]="settingList"
            nbContextMenuTag="my-context-menu"
          >
            <nb-icon icon="person-outline"></nb-icon>
          </button>
        </div>
      </div>
    </div>
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <challenge90days-footer></challenge90days-footer>
  </nb-layout-footer>
</nb-layout>
