<div class="container">
  <div class="row align-items-start">
    <div class="col col-12">
      <h1 *ngIf="userInfo$.value">
        {{ welcomeText }}{{ (userInfo$ | async).name }}
      </h1>
    </div>
  </div>
  <div class="row" *ngIf="isCheckinMode">
    <div class="col col-12">
      <ng-container [formGroup]="checkinForm">
        <nb-card status="primary">
          <nb-card-header>打卡</nb-card-header>
          <nb-card-body>
            <div class="custom-input-group">
              <label for="checkin-file" class="label">上傳檔案</label>
              <input
                id="checkin-file"
                nbInput
                status="primary"
                type="file"
                (change)="onFileChange($event)"
              />
            </div>
            <div class="custom-input-group">
              <label for="checkin-content" class="label">今天做了什麼</label>
              <textarea
                id="checkin-content"
                nbInput
                fullWidth
                placeholder="今天做了什麼"
                formControlName="message"
              ></textarea>
            </div>
            <div class="custom-input-group">
              <label for="checkin-url" class="label"
                >分享連結(如果有的話)</label
              >
              <input
                id="checkin-url"
                formControlName="url"
                type="text"
                nbInput
                fullWidth
                placeholder="分享連結（如果有的話）"
              />
            </div>
            <div class="custom-input-group">
              <label class="label" for="">今天心情如何</label>
              <nb-button-group>
                <button
                  nbButton
                  *ngFor="let emoji of emojiList"
                  (click)="setEmoji(emoji)"
                >
                  {{ emoji }}
                </button>
              </nb-button-group>
            </div>
          </nb-card-body>
          <nb-card-footer
            ><button nbButton status="primary" (click)="checkin()">打卡</button>
            <nb-checkbox
              status="warning"
              class="checkin-checkbox"
              (checkedChange)="isCheckinTomorrow($event)"
              >預約明天</nb-checkbox
            >
          </nb-card-footer>
        </nb-card>
      </ng-container>
    </div>
  </div>
  <div class="row"  *ngIf="!isCheckinMode">
    <div class="col col-12">
      <challenge90days-checkin-card
        [status]="'success'"
        [checkin]="(lastCheckin$ | async)[0]"
      ></challenge90days-checkin-card>
    </div>
    <div class="col col-12">
      <button
      nbButton
      hero
      shape="round"
      status="primary"
      routerLink="/checkin/list"
    >
      看看大家的打卡
    </button>
    </div>
  </div>
</div>
