<ng-container [formGroup]='checkinForm'>
    <nb-card status="primary">
        <nb-card-header>打卡</nb-card-header>
        <nb-card-body>
            <div>
                <input nbInput status="primary" type="file" (change)="onFileChange($event)">
            </div>
            <div>
                <textarea nbInput fullWidth placeholder="今天做了什麼" formControlName='message'></textarea>
            </div>
        </nb-card-body>
        <nb-card-footer><button nbButton status="primary" (click)="checkin()">打卡</button></nb-card-footer>
    </nb-card>
</ng-container>
<button (click)="showFirework()">show</button>
<nb-card status="danger">
  <nb-card-header>預約打卡</nb-card-header>
  <nb-card-body>
   明天要出去玩怕來不及打卡嗎？先預約打卡！
  </nb-card-body>
  <nb-card-footer><button nbButton status="danger">預約</button></nb-card-footer>
</nb-card>
