:host{
  display: flex;
  flex-direction: column;
}
.main{
  display: flex;
  justify-content:center ;
  align-items: center;
  // width: 100vw;
  height: 100vh;
}

.nb-theme-dark a{
  color: #fff;
}

.header-area{
  display: flex;
  align-items: center;
  flex-direction: row;
  button{
    margin-left: 10px;
    margin-right: 10px;
  }
}