<!-- <nz-layout>
  <nz-header >Header</nz-header>
  <nz-content>
    <h1  data-aos="fade-right"
    data-aos-duration="4000"
    data-aos-offset="300"
    data-aos-once="false"
    data-aos-easing="ease-in-out" nz-typography>90天挑戰，什麼都戰，什麼都能戰</h1>
    <button nz-button nzType="primary">Primary Button</button>
    <button nz-button nzType="default">Default Button</button>
    <button nz-button nzType="dashed">Dashed Button</button>
    <button nz-button nzType="text">Text Button</button>
    <a nz-button nzType="link">Link Button</a>
    <div  data-aos="fade-right"
    data-aos-duration="4000"
    data-aos-offset="300"
    data-aos-once="false"
    data-aos-easing="ease-in-out">
      <nz-timeline>
        <nz-timeline-item><img height="300"
            src="https://img.alicdn.com/tfs/TB1X.qJJgHqK1RjSZFgXXa7JXXa-89-131.svg">傷心的，都忘記了</nz-timeline-item>
        <nz-timeline-item>只記得這首笑忘歌</nz-timeline-item>
        <nz-timeline-item>那一年天空很高峰很清澈</nz-timeline-item>
        <nz-timeline-item>從頭到腳只偷快樂</nz-timeline-item>
      </nz-timeline>
    </div>

    <article>
      先帝創業未半，而中道崩殂；今天下三分，益州疲弊，此誠危急存亡
      之秋也﹗然侍衞之臣，不懈於內；忠志之士，忘身於外者，蓋追先帝之殊
      遇，欲報之於陛下也。
      誠宜開張聖聽，以光先帝遺德，恢弘志士之氣﹔不宜妄自菲薄，引喻
      失義，以塞忠諫之路也。
      宮中、府中，俱為一體；陟罰臧否，不宜異同。若有作姦、犯科，及
      為忠善者，宜付有司，論其刑賞，以昭陛下平明之治；不宜偏私，使內外
      異法也。
      侍中、侍郎郭攸之、費禕、董允等，此皆良實，志慮忠純，是以先帝
      簡拔以遺陛下。愚以為宮中之事，事無大小，悉以咨之，然後施行，必能
      裨補闕漏，有所廣益。將軍向寵，性行淑均，曉暢軍事，試用於昔日，先
      帝稱之曰「能」，是以眾議舉寵為督。愚以為營中之事，悉以咨之，必能
      使行陣和睦，優劣得所。
      親賢臣，遠小人，此先漢所以興隆也﹔親小人，遠賢臣，此後漢所以
      傾頹也。先帝在時，每與臣論此事，未嘗不歎息痛恨於桓、靈也！侍中、
      尚書、長史、參軍，此悉貞良死節之臣，願陛下親之、信之，則漢室之隆，
      可計日而待也。
      臣本布衣，躬耕於南陽，苟全性命於亂世，不求聞達於諸侯。先帝不
      以臣卑鄙，猥自枉屈，三顧臣於草廬之中，諮臣以當世之事；由是感激，
      遂許先帝以驅馳。後值傾覆，受任於敗軍之際，奉命於危難之間，爾來二
      十有一年矣。先帝知臣謹慎，故臨崩寄臣以大事也。受命以來，夙夜憂歎，
      恐託付不效，以傷先帝之明。故五月渡瀘，深入不毛。今南方已定，兵甲
      已足，當獎率三軍，北定中原，庶竭駑鈍，攘除姦凶，興復漢室，還於舊
      2
      都。此臣所以報先帝而忠陛下之職分也。至於斟酌損益，進盡忠言，則攸
      之、禕、允之任也。
      願陛下託臣以討賊興復之效；不效，則治臣之罪，以告先帝之靈。若
      無興德之言，則責攸之、禕、允等之慢，以彰其咎。陛下亦宜自謀，以諮
      諏善道，察納雅言，深追先帝遺詔。臣不勝受恩感激。今當遠離，臨表涕
      零，不知所言！
    </article>
    <article>
      先帝創業未半，而中道崩殂；今天下三分，益州疲弊，此誠危急存亡
      之秋也﹗然侍衞之臣，不懈於內；忠志之士，忘身於外者，蓋追先帝之殊
      遇，欲報之於陛下也。
      誠宜開張聖聽，以光先帝遺德，恢弘志士之氣﹔不宜妄自菲薄，引喻
      失義，以塞忠諫之路也。
      宮中、府中，俱為一體；陟罰臧否，不宜異同。若有作姦、犯科，及
      為忠善者，宜付有司，論其刑賞，以昭陛下平明之治；不宜偏私，使內外
      異法也。
      侍中、侍郎郭攸之、費禕、董允等，此皆良實，志慮忠純，是以先帝
      簡拔以遺陛下。愚以為宮中之事，事無大小，悉以咨之，然後施行，必能
      裨補闕漏，有所廣益。將軍向寵，性行淑均，曉暢軍事，試用於昔日，先
      帝稱之曰「能」，是以眾議舉寵為督。愚以為營中之事，悉以咨之，必能
      使行陣和睦，優劣得所。
      親賢臣，遠小人，此先漢所以興隆也﹔親小人，遠賢臣，此後漢所以
      傾頹也。先帝在時，每與臣論此事，未嘗不歎息痛恨於桓、靈也！侍中、
      尚書、長史、參軍，此悉貞良死節之臣，願陛下親之、信之，則漢室之隆，
      可計日而待也。
      臣本布衣，躬耕於南陽，苟全性命於亂世，不求聞達於諸侯。先帝不
      以臣卑鄙，猥自枉屈，三顧臣於草廬之中，諮臣以當世之事；由是感激，
      遂許先帝以驅馳。後值傾覆，受任於敗軍之際，奉命於危難之間，爾來二
      十有一年矣。先帝知臣謹慎，故臨崩寄臣以大事也。受命以來，夙夜憂歎，
      恐託付不效，以傷先帝之明。故五月渡瀘，深入不毛。今南方已定，兵甲
      已足，當獎率三軍，北定中原，庶竭駑鈍，攘除姦凶，興復漢室，還於舊
      2
      都。此臣所以報先帝而忠陛下之職分也。至於斟酌損益，進盡忠言，則攸
      之、禕、允之任也。
      願陛下託臣以討賊興復之效；不效，則治臣之罪，以告先帝之靈。若
      無興德之言，則責攸之、禕、允等之慢，以彰其咎。陛下亦宜自謀，以諮
      諏善道，察納雅言，深追先帝遺詔。臣不勝受恩感激。今當遠離，臨表涕
      零，不知所言！
    </article>
    <article>
      先帝創業未半，而中道崩殂；今天下三分，益州疲弊，此誠危急存亡
      之秋也﹗然侍衞之臣，不懈於內；忠志之士，忘身於外者，蓋追先帝之殊
      遇，欲報之於陛下也。
      誠宜開張聖聽，以光先帝遺德，恢弘志士之氣﹔不宜妄自菲薄，引喻
      失義，以塞忠諫之路也。
      宮中、府中，俱為一體；陟罰臧否，不宜異同。若有作姦、犯科，及
      為忠善者，宜付有司，論其刑賞，以昭陛下平明之治；不宜偏私，使內外
      異法也。
      侍中、侍郎郭攸之、費禕、董允等，此皆良實，志慮忠純，是以先帝
      簡拔以遺陛下。愚以為宮中之事，事無大小，悉以咨之，然後施行，必能
      裨補闕漏，有所廣益。將軍向寵，性行淑均，曉暢軍事，試用於昔日，先
      帝稱之曰「能」，是以眾議舉寵為督。愚以為營中之事，悉以咨之，必能
      使行陣和睦，優劣得所。
      親賢臣，遠小人，此先漢所以興隆也﹔親小人，遠賢臣，此後漢所以
      傾頹也。先帝在時，每與臣論此事，未嘗不歎息痛恨於桓、靈也！侍中、
      尚書、長史、參軍，此悉貞良死節之臣，願陛下親之、信之，則漢室之隆，
      可計日而待也。
      臣本布衣，躬耕於南陽，苟全性命於亂世，不求聞達於諸侯。先帝不
      以臣卑鄙，猥自枉屈，三顧臣於草廬之中，諮臣以當世之事；由是感激，
      遂許先帝以驅馳。後值傾覆，受任於敗軍之際，奉命於危難之間，爾來二
      十有一年矣。先帝知臣謹慎，故臨崩寄臣以大事也。受命以來，夙夜憂歎，
      恐託付不效，以傷先帝之明。故五月渡瀘，深入不毛。今南方已定，兵甲
      已足，當獎率三軍，北定中原，庶竭駑鈍，攘除姦凶，興復漢室，還於舊
      2
      都。此臣所以報先帝而忠陛下之職分也。至於斟酌損益，進盡忠言，則攸
      之、禕、允之任也。
      願陛下託臣以討賊興復之效；不效，則治臣之罪，以告先帝之靈。若
      無興德之言，則責攸之、禕、允等之慢，以彰其咎。陛下亦宜自謀，以諮
      諏善道，察納雅言，深追先帝遺詔。臣不勝受恩感激。今當遠離，臨表涕
      零，不知所言！
    </article>
    <article
    data-aos="fade-left" data-aos-offset="300" data-aos-delay="100" data-aos-once="false"
      data-aos-easing="ease-in-out">
      先帝創業未半，而中道崩殂；今天下三分，益州疲弊，此誠危急存亡
      之秋也﹗然侍衞之臣，不懈於內；忠志之士，忘身於外者，蓋追先帝之殊
      遇，欲報之於陛下也。
      誠宜開張聖聽，以光先帝遺德，恢弘志士之氣﹔不宜妄自菲薄，引喻
      失義，以塞忠諫之路也。
      宮中、府中，俱為一體；陟罰臧否，不宜異同。若有作姦、犯科，及
      為忠善者，宜付有司，論其刑賞，以昭陛下平明之治；不宜偏私，使內外
      異法也。
      侍中、侍郎郭攸之、費禕、董允等，此皆良實，志慮忠純，是以先帝
      簡拔以遺陛下。愚以為宮中之事，事無大小，悉以咨之，然後施行，必能
      裨補闕漏，有所廣益。將軍向寵，性行淑均，曉暢軍事，試用於昔日，先
      帝稱之曰「能」，是以眾議舉寵為督。愚以為營中之事，悉以咨之，必能
      使行陣和睦，優劣得所。
      親賢臣，遠小人，此先漢所以興隆也﹔親小人，遠賢臣，此後漢所以
      傾頹也。先帝在時，每與臣論此事，未嘗不歎息痛恨於桓、靈也！侍中、
      尚書、長史、參軍，此悉貞良死節之臣，願陛下親之、信之，則漢室之隆，
      可計日而待也。
      臣本布衣，躬耕於南陽，苟全性命於亂世，不求聞達於諸侯。先帝不
      以臣卑鄙，猥自枉屈，三顧臣於草廬之中，諮臣以當世之事；由是感激，
      遂許先帝以驅馳。後值傾覆，受任於敗軍之際，奉命於危難之間，爾來二
      十有一年矣。先帝知臣謹慎，故臨崩寄臣以大事也。受命以來，夙夜憂歎，
      恐託付不效，以傷先帝之明。故五月渡瀘，深入不毛。今南方已定，兵甲
      已足，當獎率三軍，北定中原，庶竭駑鈍，攘除姦凶，興復漢室，還於舊
      2
      都。此臣所以報先帝而忠陛下之職分也。至於斟酌損益，進盡忠言，則攸
      之、禕、允之任也。
      願陛下託臣以討賊興復之效；不效，則治臣之罪，以告先帝之靈。若
      無興德之言，則責攸之、禕、允等之慢，以彰其咎。陛下亦宜自謀，以諮
      諏善道，察納雅言，深追先帝遺詔。臣不勝受恩感激。今當遠離，臨表涕
      零，不知所言！
    </article>

  </nz-content>
  <nz-footer>Footer</nz-footer>
</nz-layout> -->
<nz-layout>
  <nz-header>Header</nz-header>
  <nz-content>
    <div class="main">
      <div data-aos="fade-up" data-aos-duration="4000">
        <h1 nz-typography>90天原子挑戰</h1>
      </div>

    </div>
    <!-- <h1
  ata-aos="fade-right"
  data-aos-duration="4000"
  data-aos-offset="300"
  data-aos-once="false"
  data-aos-easing="ease-in-out"
 >
    90天原子挑戰
  </h1> -->

    <div class="main">
      <div data-aos="fade-up" data-aos-duration="4000">
        <h1 nz-typography>什麼都戰</h1>
      </div>
    </div>
    <div class="main">
      <div data-aos="fade-up" data-aos-duration="4000">
        <h1 nz-typography>什麼都能戰</h1>
      </div>
    </div>
  </nz-content>
</nz-layout>