<div class="container">
  <div class="row">
    <div class="col col-12">
      <h3>出席狀況</h3>
    </div>
    <div class="col col-12">
      <nb-select
        placeholder="選擇活動名稱"
        (selectedChange)="changeEventId($event)"
        [(selected)]="selectedEventId"
      >
        <nb-option
          [value]="event.id"
          *ngFor="let event of eventList$ | async"
          >{{ event.name }}</nb-option
        >
      </nb-select>
      <input
        nbInput
        placeholder="選擇日期"
        [nbDatepicker]="dateTimePicker"
        [(ngModel)]="selectedDate"
        (ngModelChange)="changeDate()"
      />
      <nb-datepicker #dateTimePicker format="yyyy-MM-dd"></nb-datepicker>
    </div>
  </div>
  <div class="row">
    <div class="col col-12">
      <nb-card size="medium">
        <nb-card-header>{{ selectedDate | date: 'yyyy-MM-dd' }}</nb-card-header>
        <nb-list>
          <nb-list-item *ngFor="let user of userList$ | async">
            <span class="status">
              <nb-icon
                [icon]="getIcon(user.userId)"
                [status]="isCheckinToday(user.userId) ? 'success' : 'danger'"
              ></nb-icon>
            </span>
            <span class="name">
              {{ user.name }}
            </span>
          </nb-list-item>
        </nb-list>
      </nb-card>
    </div>
  </div>
  <div class="row">
    <div class="col col-12">
      <h3>發布公告</h3>
    </div>
    <div class="col col-12">
      <ng-container [formGroup]="announceForm">
        <nb-card [status]="selectedStatus">
          <nb-card-header
            ><input nbInput type="text" formControlName="title" />
            <nb-select
              placeholder="選擇顏色"
              (selectedChange)="changeStatus($event)"
              [(selected)]="selectedStatus"
            >
              <nb-option
                [value]="status.value"
                *ngFor="let status of statusList"
                >{{ status.text }}</nb-option
              >
            </nb-select>
          </nb-card-header>
          <nb-card-body>
            <textarea nbInput fullWidth formControlName="content"></textarea>
          </nb-card-body>
          <nb-card-footer
            >發布時間:{{
              announceForm.get('date').value | date: 'yyyy-MM-dd'
            }}</nb-card-footer
          >
        </nb-card>
      </ng-container>
    </div>
    <div class="col col-12">
      <button
        nbButton
        status="warning"
        [disabled]="announceForm.invalid"
        (click)="publishAnnounce()"
      >
        發佈公告
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col col-12">
      <ng-container *ngFor="let announce of announceList$ | async">
        <nb-card [status]="announce.status">
          <nb-card-header
            ><input nbInput type="text" [(ngModel)]="announce.title"
          /></nb-card-header>
          <nb-card-body>
            <textarea
              nbInput
              fullWidth
              [(ngModel)]="announce.content"
            ></textarea>
          </nb-card-body>
          <nb-card-footer
            >{{ announce.date.toDate() | date: 'yyyy-MM-dd' }}
            <button nbButton status="success" (click)="updateAnnounce(announce)">
              修改
            </button>
            <button nbButton status="danger" (click)="deleteAnnounce(announce)">
              刪除
            </button></nb-card-footer
          >
        </nb-card>
      </ng-container>
    </div>
  </div>
</div>
