/* You can add global styles to this file, and also import other style files */
// @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap');
// @import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap");
// @import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Noto+Sans+TC:wght@500&family=Noto+Serif+TC&display=swap');
// * {
//     // font-family: 'Kiwi Maru', serif;
//     // font-family: 'Noto Serif TC', serif;
//     font-family: 'Noto Sans TC'
// }
* {
  // font-family: "Kosugi Maru", sans-serif !important;
  //  font-family: 'Noto Serif TC', serif !important;
  font-family: 'Noto Sans TC', sans-serif !important;
}

@import 'aos/dist/aos.css';

.fs-2x {
  font-size: 2rem;
  line-height: 2rem;
}

@media (max-width: 768px) {
  nb-layout-header nav {
    height: 100% !important;
    padding: 0.3rem !important;
  }

  .fs-2x {
    font-size: 1rem;
    line-height: 1rem;
  }
}

pre {
  white-space: pre-line;
  a {
    color: #0095ff;
    text-decoration: none !important;
    border-bottom: 2px solid #893128;
    display: inline-block;
  }
}

.nb-theme-dark{

  pre {
    a {
      color: #b8b8b8;
    }
  } 

  .ck-content{
    background-color: #192038 !important;
  }

  .ck-editor__top{
    background-color: #192038 !important;
  }
}
