/* You can add global styles to this file, and also import other style files */
// @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap');
// @import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap");
// @import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Noto+Sans+TC:wght@500&family=Noto+Serif+TC&display=swap');
// * {
//     // font-family: 'Kiwi Maru', serif;
//     // font-family: 'Noto Serif TC', serif;
//     font-family: 'Noto Sans TC'
// }
* {
  // font-family: "Kosugi Maru", sans-serif !important;
  //  font-family: 'Noto Serif TC', serif !important;
  font-family: 'Noto Sans TC', sans-serif !important;
}

@import 'aos/dist/aos.css';

.fs-2x{
  font-size: 2rem;
  line-height: 2rem;
}

@media (max-width: 768px) {
  nb-layout-header nav{
    height: 100% !important;
  }
}