<nb-card accent="success">
    <nb-card-header>
        <nb-icon
          icon="award-outline"
        ></nb-icon>
        <h3 class="text-success">你還沒準備好</h3>
        <div class="date">2021/04/01</div>
    </nb-card-header>
  <nb-card-body>
    開始90天挑戰了
  </nb-card-body>
</nb-card>
<nb-card accent="success">
    <nb-card-header>
        <nb-icon
          icon="award-outline"
        ></nb-icon>
        <h3 class="text-success">你還是沒準備好啊</h3>
        <div class="date">2021/04/11</div>
    </nb-card-header>
  <nb-card-body>
    已經挑戰兩個星期了，有點上手囉
  </nb-card-body>
</nb-card>
<nb-card accent="warning">
    <nb-card-header>
        <nb-icon
          icon="award-outline"
        ></nb-icon>
        <h3 class="text-warning">頭腦異常</h3>
        <div class="date">2021/06/30</div>
    </nb-card-header>
  <nb-card-body>
    為什麼會會自虐參加這種活動呢 ：）
  </nb-card-body>
</nb-card>
