<nb-card data-aos="flip-up" [status]="status">
  <nb-card-header>
    <h3>
      <span class="underline">
        {{ checkin.content }}
      </span>
    </h3>
    <div class="subtitle">
      {{ checkin.postUser }}
      <button
        *ngIf="!isSelf"
        nbButton
        hero
        shape="round"
        status="primary"
        routerLink="/checkin/{{ checkin.docPath }}"
      >
        <nb-icon icon="arrow-forward-outline"></nb-icon>
      </button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div *ngIf="checkin.imgFile">
      <ng-container *ngIf="checkin.imgFile.length === 1">
        <ng-container *ngFor="let imgFile of checkin.imgFile">
          <img height="auto" width="100%" [src]="imgFile" />
        </ng-container>
      </ng-container>
      <ng-container *ngIf="checkin.imgFile.length > 1">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <ng-container
              *ngFor="let imgFile of checkin.imgFile; let i = index"
            >
              <div class="carousel-item" [class.active]="i === 0">
                <img [src]="imgFile" class="d-block w-100" />
              </div>
            </ng-container>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </ng-container>
    </div>
    <p>
      <a [href]="checkin.url">{{ checkin.url }}</a>
    </p>
    <p>
      {{ checkin.content }}
    </p>
  </nb-card-body>
  <nb-card-footer>
    <span class="emoji">{{ checkin.emoji }}</span>
    {{ checkin.time.toDate() | date: 'y/M/d/ h:mm' }}</nb-card-footer
  >
</nb-card>
